@font-face {
  font-family: 'montserrat-medium';
  src: url("../font/montserrat-medium-webfont.woff");
  font-weight: 300; }
@font-face {
  font-family: 'montserrat-thin';
  src: url("../font/montserrat-thin-webfont.woff");
  font-weight: 100; }
html {
  box-sizing: border-box; }

.contenedor {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-bg.jpg?s=988888") no-repeat center 0;
  background-size: cover; }

.header {
  padding-top: 30px;
  padding-bottom: 90px;
  display: flex;
  justify-content: space-between;
  /*posicion responsive menu*/ }
  @media (min-width: 1000px) {
    .header {
      padding-bottom: 20px; } }
  .header .header-logo-img1 {
    text-align: left;
    max-width: 70px;
    height: auto;
    padding-left: 30px; }
  .header .header-button {
    padding-right: 40px; }
    .header .header-button .header-button-style {
      border: none;
      background-color: #010f18;
      color: white; }
  .header #mostrar-menu {
    position: fixed;
    top: 1.8em;
    right: 2em;
    background: url(../img/iconomenu.png);
    z-index: 30;
    cursor: pointer;
    padding: 16px;
    background-color: black; }
  .header .menu {
    background: #0C0C0C;
    padding-right: .25em;
    padding-top: 3em;
    position: fixed;
    right: -19em;
    z-index: 20;
    height: 100%;
    top: 0;
    transition: all .3s; }
  .header .menu.mostrar {
    right: 0; }
  .header .menu-list {
    line-height: 42px;
    /* outline: 1px solid red;*/
    margin: 2em auto;
    width: 18em; }
    .header .menu-list .menu-item {
      box-shadow: 3px 0 rgba(255, 255, 255, 0.2) inset;
      margin-bottom: 5px;
      padding-left: 1.5em;
      /* outline: 1px solid red;*/
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
      .header .menu-list .menu-item:hover {
        box-shadow: 17em 0 rgba(255, 255, 255, 0.2) inset; }
      .header .menu-list .menu-item .menu-link {
        color: #eee;
        display: block;
        width: 100%;
        text-decoration: none;
        text-transform: uppercase; }
        .header .menu-list .menu-item .menu-link:hover {
          margin-left: 1em;
          -webkit-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s; }

.min {
  width: 78%;
  margin: 0 auto;
  text-align: center; }
  @media (min-width: 500px) {
    .min {
      width: 58%;
      margin: 5%;
      text-align: left; } }
  @media (min-width: 700px) {
    .min {
      margin: 10%; } }
  @media (min-width: 1200px) {
    .min {
      width: 750px;
      margin-left: 140px; } }
  @media (min-width: 1500px) {
    .min {
      width: 750px;
      margin-left: 300px; } }
  .min .min-titulo {
    font-family: "montserrat-medium", sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding-bottom: 20px; }
    @media (min-width: 500px) {
      .min .min-titulo {
        font-size: 16px; } }
  .min .min-explicacion {
    font-family: "montserrat-medium", sans-serif;
    font-size: 28px;
    color: #fff;
    line-height: 40px; }
    @media (min-width: 500px) {
      .min .min-explicacion {
        font-size: 32px;
        line-height: 45px; } }
    @media (min-width: 700px) {
      .min .min-explicacion {
        font-size: 42px;
        line-height: 60px; } }
    @media (min-width: 1000px) {
      .min .min-explicacion {
        font-size: 52px;
        line-height: 70px; } }
    @media (min-width: 1200px) {
      .min .min-explicacion {
        font-size: 62px;
        line-height: 90px; } }
  .min .min-list {
    padding-top: 20px;
    padding-bottom: 26px; }
    @media (min-width: 700px) {
      .min .min-list {
        display: flex; } }
    .min .min-list .min-item {
      border: 1.7px #ffffff solid;
      padding-top: 16px;
      padding-bottom: 16px;
      width: 78%;
      margin: 20px auto;
      text-align: center; }
      .min .min-list .min-item:hover .min-link {
        color: black; }
      .min .min-list .min-item:hover {
        background-color: #fff;
        transition: .5s; }
      @media (min-width: 500px) {
        .min .min-list .min-item {
          width: 290px;
          margin: 20px 0; } }
      @media (min-width: 700px) {
        .min .min-list .min-item {
          width: 180px;
          margin-top: 70px;
          margin-right: 20px; } }
      .min .min-list .min-item .min-link {
        font-family: sans-serif;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center; }
        .min .min-list .min-item .min-link:hover {
          color: black;
          transition: .5s; }

.redsocial {
  display: none; }
  @media (min-width: 500px) {
    .redsocial {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: 220px;
      right: 20px; } }
  @media (min-width: 700px) {
    .redsocial {
      top: 270px; } }
  @media (min-width: 1000px) {
    .redsocial {
      top: 340px; } }
  .redsocial .redsocial-item {
    padding-bottom: 16px; }
    .redsocial .redsocial-item .redsocial-img {
      width: 33px;
      height: 33px; }
      .redsocial .redsocial-item .redsocial-img:hover {
        filter: opacity(0.5); }

.contenedortwo {
  background-color: #39b54a;
  text-align: center; }

.contenedortwo-saludo {
  font-family: "montserrat-medium", sans-serif;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  letter-spacing: .2rem;
  padding-top: 110px;
  padding-bottom: 10px; }
  @media (min-width: 400px) {
    .contenedortwo-saludo {
      font-size: 16px; } }
  @media (min-width: 800px) {
    .contenedortwo-saludo {
      font-size: 18px;
      font-weight: bolder; } }

.contenedortwo-glint {
  font-family: "montserrat-medium", sans-serif;
  font-size: 40px;
  color: #fff;
  padding-bottom: 50px;
  position: relative; }
  .contenedortwo-glint:after {
    content: "";
    width: 270px;
    height: 1px;
    position: absolute;
    left: calc(50% - 135px);
    bottom: 10px;
    background-color: #FFF; }
  @media (min-width: 400px) {
    .contenedortwo-glint {
      font-size: 50px; }
      .contenedortwo-glint:after {
        content: "";
        width: 350px;
        left: calc(50% - 175px); } }
  @media (min-width: 800px) {
    .contenedortwo-glint {
      font-size: 70px; }
      .contenedortwo-glint:after {
        content: "";
        width: 530px;
        left: calc(50% - 265px); } }
  @media (min-width: 1200px) {
    .contenedortwo-glint {
      font-size: 78px; } }

.contenedortwo-parrafo {
  font-family: "lora-regular", serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 40px;
  color: black;
  width: 70%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px; }
  @media (min-width: 800px) {
    .contenedortwo-parrafo {
      font-size: 22px;
      width: 80%; } }
  @media (min-width: 1200px) {
    .contenedortwo-parrafo {
      font-size: 25px;
      line-height: 40px;
      width: 840px;
      padding-bottom: 90px; } }

.contenedortwo-list {
  padding-bottom: 50px; }
  @media (min-width: 600px) {
    .contenedortwo-list {
      width: 400px;
      margin: 0 auto; } }
  @media (min-width: 800px) {
    .contenedortwo-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 480px;
      margin: 0 auto; } }
  @media (min-width: 1200px) {
    .contenedortwo-list {
      display: flex;
      justify-content: space-between;
      width: 780px;
      margin: 0 auto; } }

.contenedortwo-item {
  position: relative; }
  .contenedortwo-item:after {
    content: "";
    width: 270px;
    height: 1px;
    position: absolute;
    left: calc(50% - 135px);
    bottom: 30px;
    background-color: #FFF; }
  .contenedortwo-item:last-child:after {
    display: none; }
  @media (min-width: 800px) {
    .contenedortwo-item:after {
      display: none; } }

.contenedortwo-link {
  font-family: "montserrat-bold", sans-serif;
  font-size: 70px;
  font-weight: bolder;
  color: #FFFFFF;
  text-decoration: none; }
  @media (min-width: 800px) {
    .contenedortwo-link {
      font-size: 80px; } }

.contenedortwo-paragraph {
  font-family: "montserrat-semibold", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  color: #000000;
  padding-top: 25px;
  padding-bottom: 70px; }

.ir-arriba {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  font-size: 20px;
  background-color: black;
  color: #fff;
  cursor: pointer;
  z-index: 30; }

.service-sudhead {
  font-family: "montserrat-bold", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .25rem;
  color: #39b54a;
  text-align: center;
  padding-top: 112px;
  padding-bottom: 12px; }

.service-title {
  font-family: "montserrat-medium", sans-serif;
  font-size: 28px;
  line-height: 1.255;
  color: #000000;
  text-align: center;
  width: 85%;
  margin: auto;
  padding-bottom: 80px; }
  .service-title:after {
    content: "";
    width: 250px;
    height: 1px;
    position: absolute;
    left: calc(50% - 125px);
    margin-top: 50px;
    background-color: #e6e6e6; }
  @media (min-width: 400px) {
    .service-title {
      font-size: 52px; }
      .service-title:after {
        width: 300px;
        left: calc(50% - 150px);
        margin-top: 100px; } }
  @media (min-width: 600px) {
    .service-title {
      font-size: 52px; }
      .service-title:after {
        width: 550px;
        left: calc(50% - 275px);
        margin-top: 100px; } }
  @media (min-width: 1200px) {
    .service-title {
      width: 920px;
      margin: auto; }
      .service-title:after {
        content: "";
        width: 700px;
        height: 1px;
        position: absolute;
        left: calc(50% - 350px);
        margin-top: 100px;
        background-color: #e6e6e6; } }

.service-list {
  padding-top: 22px;
  padding-bottom: 130px;
  width: 85%;
  margin: 0 auto; }
  @media (min-width: 800px) {
    .service-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 600px;
      margin: 0 auto; } }
  @media (min-width: 900px) {
    .service-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 700px;
      margin: 0 auto; } }
  @media (min-width: 1200px) {
    .service-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 1100px;
      margin: 0 auto;
      padding-bottom: 100px; } }

.service-item {
  padding-bottom: 20px; }
  @media (min-width: 800px) {
    .service-item {
      width: 255px;
      padding-bottom: 20px; } }
  @media (min-width: 1200px) {
    .service-item {
      width: 435px;
      padding-bottom: 20px; } }

.service-title2 {
  font-family: "montserrat-medium", sans-serif;
  font-size: 24px;
  color: #000000;
  text-align: center;
  padding-bottom: 18px; }
  @media (min-width: 600px) {
    .service-title2 {
      font-size: 28px; } }
  @media (min-width: 1200px) {
    .service-title2 {
      text-align: left; } }

.service-text {
  font-family: "lora-regular", serif;
  font-size: 19px;
  line-height: 1.765;
  color: #757575;
  text-align: center;
  padding-bottom: 20px; }
  @media (min-width: 400px) {
    .service-text {
      font-size: 20px; } }
  @media (min-width: 800px) {
    .service-text {
      width: 255px;
      text-align: left; } }
  @media (min-width: 900px) {
    .service-text {
      width: 340px; } }
  @media (min-width: 1200px) {
    .service-text {
      width: 435px;
      text-align: left; } }

.testimonial {
  background-color: #e6e6e6; }

.testimonial-sunhead {
  font-family: "montserrat-bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .25rem;
  color: #39b54a;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 12px; }

.testimonial-title {
  font-family: "montserrat-medium", sans-serif;
  font-size: 24px;
  line-height: 1.255;
  color: #000000;
  text-align: center;
  width: 80%;
  margin: 0 auto; }
  @media (min-width: 500px) {
    .testimonial-title {
      font-size: 36px;
      width: 70%; } }
  @media (min-width: 1200px) {
    .testimonial-title {
      font-size: 52px;
      width: 920px; } }

.wrapper {
  width: 100%;
  margin-top: 100px;
  background: #e6e6e6;
  padding: 30px 0; }

@media (min-width: 1200px) {
  .slider-testimonial {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto; } }

.testimonial-client {
  margin-bottom: 15px; }

.testimonial-client img {
  width: 84px;
  margin: auto;
  border-radius: 84px; }

.testimonial-name {
  font-family: "Open sans";
  font-size: 20px;
  font-weight: 600;
  text-align: center; }

.testimonial-text {
  padding: 10px 120px; }
  @media (min-width: 1200px) {
    .testimonial-text {
      font-size: 33px;
      line-height: 1.8;
      width: 860px;
      margin: 0 auto; } }

.testimonial-text p {
  font-family: "lora-regular", serif;
  color: #555555;
  text-align: center; }
  @media (min-width: 399px) {
    .testimonial-text p {
      font-size: 20px;
      line-height: 1.6;
      width: 100%;
      margin: auto; } }
  @media (min-width: 1200px) {
    .testimonial-text p {
      font-size: 33px;
      line-height: 1.8; } }

.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/contact-bg.jpg?s=988888") no-repeat center 0;
  height: 1500px; }
  @media (min-width: 600px) {
    .contact {
      height: 1650px; } }
  @media (min-width: 1000px) {
    .contact {
      height: 1100px; } }
  .contact .contact-sudhead {
    font-family: "montserrat-bold", sans-serif;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: #39b54a;
    padding-top: 120px;
    text-align: center; }
    @media (min-width: 600px) {
      .contact .contact-sudhead {
        font-size: 17px; } }
  .contact .contact-title {
    font-family: "montserrat-medium", sans-serif;
    font-size: 24px;
    font-weight: bolder;
    line-height: 1.333;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 55px;
    text-align: center;
    width: 80%;
    margin: 0 auto; }
    @media (min-width: 600px) {
      .contact .contact-title {
        font-size: 36px;
        width: 65%;
        margin: auto; } }
    @media (min-width: 1200px) {
      .contact .contact-title {
        font-size: 46px;
        width: 40%; } }
  .contact .contact-container {
    opacity: .9;
    background-color: #151515; }
    @media (min-width: 600px) {
      .contact .contact-container {
        width: 525px;
        margin: 0 auto;
        opacity: .9;
        background-color: #151515; } }
    @media (min-width: 1000px) {
      .contact .contact-container {
        display: flex;
        justify-content: space-between;
        width: 900px; } }
    @media (min-width: 1000px) {
      .contact .contact-container .contact-cont {
        margin-left: 25px;
        height: 620px; } }
    .contact .contact-container .contact-cont .contact-cont-title {
      font-family: "montserrat-medium", sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: .25rem;
      color: #fff;
      text-align: center;
      padding-top: 60px;
      padding-bottom: 60px; }
      @media (min-width: 1000px) {
        .contact .contact-container .contact-cont .contact-cont-title {
          text-align: left;
          margin-left: 25px; } }
    .contact .contact-container .contact-cont .contact-cont-form {
      text-align: center; }
      .contact .contact-container .contact-cont .contact-cont-form .contact-cont-formInput {
        background: none;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px #555555 solid;
        display: block;
        margin-bottom: 1em;
        padding: 1.2em;
        margin: 0 auto 1em;
        width: 75%; }
        @media (min-width: 600px) {
          .contact .contact-container .contact-cont .contact-cont-form .contact-cont-formInput {
            width: 65%; } }
        @media (min-width: 1000px) {
          .contact .contact-container .contact-cont .contact-cont-form .contact-cont-formInput {
            width: 485px; } }
      .contact .contact-container .contact-cont .contact-cont-form .contact-cont-textarea {
        background: none;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px #555555 solid;
        display: block;
        margin-bottom: 1em;
        padding: 1.2em;
        margin: 0 auto 1em;
        width: 75%; }
        @media (min-width: 600px) {
          .contact .contact-container .contact-cont .contact-cont-form .contact-cont-textarea {
            width: 65%; } }
        @media (min-width: 1000px) {
          .contact .contact-container .contact-cont .contact-cont-form .contact-cont-textarea {
            width: 485px; } }
      .contact .contact-container .contact-cont .contact-cont-form .contact-cont-buttom {
        font-family: "lora-regular", serif;
        font-size: 14px;
        background: #39b54a;
        color: #FFF;
        border: none;
        display: block;
        margin: 40px auto;
        padding: 1.5em;
        width: 75%;
        text-transform: uppercase; }
        @media (min-width: 600px) {
          .contact .contact-container .contact-cont .contact-cont-form .contact-cont-buttom {
            width: 65%; } }
        @media (min-width: 1000px) {
          .contact .contact-container .contact-cont .contact-cont-form .contact-cont-buttom {
            width: 516px;
            margin: 127px auto; } }
    .contact .contact-container .contact-cont2 {
      padding-top: 60px;
      padding-bottom: 100px; }
      @media (min-width: 1000px) {
        .contact .contact-container .contact-cont2 {
          background-color: #111111;
          padding-top: 20px;
          padding-bottom: 0px;
          width: 315px; } }
      .contact .contact-container .contact-cont2 .contact-cont2-sudhead {
        font-family: "lora-regular", serif;
        font-size: 19px;
        font-weight: bolder;
        color: #39b54a;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px; }
        @media (min-width: 1000px) {
          .contact .contact-container .contact-cont2 .contact-cont2-sudhead {
            text-align: left;
            margin-left: 50px; } }
      .contact .contact-container .contact-cont2 .contact-cont2-list {
        text-align: center; }
        @media (min-width: 1000px) {
          .contact .contact-container .contact-cont2 .contact-cont2-list {
            text-align: left;
            margin-left: 50px; } }
        .contact .contact-container .contact-cont2 .contact-cont2-list .contact-cont2-link {
          text-decoration: none;
          font-family: "lora-regular", serif;
          font-weight: 100;
          font-size: 18px;
          color: #757575;
          line-height: 40px; }

footer {
  background-color: #111111;
  padding-top: 40px;
  padding-bottom: 40px; }
  footer .pie {
    font-family: "lora-regular", serif;
    font-size: 18px;
    color: #757575;
    text-align: center;
    width: 170px;
    margin: 0 auto; }

/*# sourceMappingURL=glint.css.map */
