
@font-face { 
    font-family: 'montserrat-medium'; 
    src:  url('../font/montserrat-medium-webfont.woff');
    font-weight: 300;
  }
@font-face { 
    font-family: 'montserrat-thin'; 
    src:  url('../font/montserrat-thin-webfont.woff');
    font-weight: 100;
  } 
   

html{
    box-sizing: border-box;
}

.contenedor{
    width: 100%; height: 100%;
    background: url('../img/hero-bg.jpg?s=988888') no-repeat center 0;
    background-size: cover;
}

//bloque header
.header{
    padding-top: 30px;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-between;
    @media (min-width: 1000px) {
        padding-bottom: 20px;
    } 

}
    .header-logo-img1{
        text-align: left;
        max-width: 70px;
        height: auto;
        padding-left: 30px;
    }
    .header-button{
        padding-right: 40px;
    }
        .header-button-style{
            border: none;
            background-color: #010f18;
            color: white;
        }

    /*posicion responsive menu*/
    
    #mostrar-menu{
        position: fixed;
        top: 1.8em;
        right: 2em;
        background: url(../img/iconomenu.png);
        z-index: 30;
        cursor: pointer;
        padding: 16px;
        background-color: black;
    }

    .menu{
        background: #0C0C0C;
        padding-right: .25em;
        padding-top: 3em;
        position: fixed;
        right: -19em;
        z-index: 20;
        height: 100%;
        top: 0;
        transition: all .3s;
    }
    .menu.mostrar{
        right: 0;
    } 


        .menu-list{
            line-height: 42px;
           /* outline: 1px solid red;*/
            margin: 2em auto;
            width: 18em;
        }
        .menu-item{
            box-shadow: 3px 0 rgba(255, 255, 255, .2) inset;
            margin-bottom: 5px;
            padding-left: 1.5em;
            /* outline: 1px solid red;*/
            -webkit-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
            &:hover{
                box-shadow: 17em 0 rgba(255, 255, 255, .2) inset;
            }
        }
        .menu-link{
            color: #eee;
            display: block;
            width: 100%;
            text-decoration: none;
            text-transform: uppercase;
            &:hover{
               margin-left: 1em;
               -webkit-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
            }
        }
        
//bloque main
.min{
    width: 78%;
    margin: 0 auto;
    text-align: center;
    @media (min-width: 500px) {
        width: 58%;
        margin: 5%;
        text-align: left;
      }
    @media (min-width: 700px) {
        margin: 10%;
    } 
    
    @media (min-width: 1200px) {
        width: 750px;
        margin-left: 140px;
    } 
    @media (min-width: 1500px) {
        width: 750px;
        margin-left: 300px;
    }                 

    .min-titulo{
        font-family: "montserrat-medium", sans-serif;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding-bottom: 20px;
        @media (min-width: 500px) {
            font-size: 16px;
        }
        
    }
    .min-explicacion{
        font-family: "montserrat-medium", sans-serif;
        font-size: 28px;
        color: #fff;
        line-height: 40px;
        @media (min-width: 500px) {
            font-size: 32px; 
            line-height: 45px; 
        }
        @media (min-width: 700px) {
            font-size: 42px; 
            line-height: 60px;
        } 
        @media (min-width: 1000px) {
            font-size: 52px; 
            line-height: 70px;
        }   
        @media (min-width: 1200px) {
            font-size: 62px; 
            line-height: 90px;
        }       
        
    }
    .min-list{
        padding-top: 20px;
        padding-bottom: 26px;
        @media (min-width: 700px) {
            display: flex;  
        }   
    }    
        .min-item{
            border:1.7px #ffffff solid; 
            padding-top: 16px;
            padding-bottom: 16px;
            width: 78%;
            margin: 20px auto;
            text-align: center; 
            &:hover{
               .min-link{
                color:black;
                }
            }    
            &:hover{
                background-color: #fff;
                transition: .5s;
            }
            @media (min-width: 500px) {
                width: 290px;
                margin: 20px 0; 
            }
            @media (min-width: 700px) {
                width: 180px;
                margin-top: 70px;
                margin-right: 20px; 
            }   
            
        }
            .min-link{
                font-family: sans-serif;
                font-size: 12px;
                color: #fff;
                text-transform: uppercase;
                text-decoration: none;
                text-align: center;
                &:hover{
                    color: black;
                    transition: .5s;
                }
                
            }
}

//bloque redsocial
.redsocial{
    display: none;
    @media (min-width: 500px) {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 220px;
        right: 20px; 
    }
    @media (min-width: 700px) {
        top: 270px;  
    }  
    @media (min-width: 1000px) {
        top: 340px;  
    }    

    .redsocial-item{
        padding-bottom: 16px;
    }
    .redsocial-img{
        width: 33px;
        height: 33px;
        &:hover{
            filter: opacity(.5);
        }
    } 
} 

//bloque contenedortwo
.contenedortwo{
    background-color: #39b54a;
    text-align: center;
}
    .contenedortwo-saludo{
        font-family: "montserrat-medium", sans-serif;
        font-size: 14px;
        color: black;
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding-top: 110px;
        padding-bottom: 10px;
        @media (min-width: 400px) {
            font-size: 16px; 
        }
        @media (min-width: 800px) {
            font-size: 18px; 
            font-weight: bolder;
        }
        
    }
    .contenedortwo-glint{
        font-family: "montserrat-medium", sans-serif;
        font-size: 40px;
        color: #fff;
        padding-bottom: 50px;
        position: relative;
            &:after{
                content: "";
                width: 270px;
                height: 1px;
                position: absolute;
                left: calc(50% - 135px);
                bottom: 10px;  
                background-color: #FFF;
            }
        @media (min-width: 400px) {
            font-size: 50px; 
            &:after{
                content: "";
                width: 350px;
                left: calc(50% - 175px);
            }
        }
        @media (min-width: 800px) {
            font-size: 70px; 
            &:after{
                content: "";
                width: 530px;
                left: calc(50% - 265px);
            }    
        }
        @media (min-width: 1200px) {
             font-size: 78px;
        }
    }
    .contenedortwo-parrafo{
        font-family: "lora-regular", serif;
        font-weight: 400;
        font-size: 19px;
        line-height: 40px;
        color: black;
        width: 70%;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 50px;
        @media (min-width: 800px) {
            font-size: 22px;
            width: 80%;
           
        }
        @media (min-width: 1200px) {
            font-size: 25px; 
            line-height: 40px;
            width: 840px;
            padding-bottom: 90px;
        }
    }
    
    .contenedortwo-list{
        padding-bottom: 50px;
        @media (min-width: 600px) {
            width: 400px;
            margin: 0 auto; 
        }
        @media (min-width: 800px) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 480px;
            margin: 0 auto;
           
        }
        @media (min-width: 1200px) {
               display: flex;
               justify-content: space-between;
               width: 780px;
               margin: 0 auto;  
        }
    }
        .contenedortwo-item{
            position: relative;
            &:after{
                content: "";
                width: 270px;
                height: 1px;
                position: absolute;
                left: calc(50% - 135px);
                bottom: 30px;  
                background-color: #FFF;
            }
            &:last-child:after{
                display: none;
            }

            @media (min-width: 800px) {
                &:after{
                   display: none;
                }   
            }    

        }
            .contenedortwo-link{
                font-family: "montserrat-bold", sans-serif;
                font-size: 70px;
                font-weight: bolder;
                color: #FFFFFF;
                text-decoration: none;
                @media (min-width: 800px) {
                    font-size: 80px;
                }
            }
            .contenedortwo-paragraph{
                font-family: "montserrat-semibold", sans-serif;
                font-size: 18px;
                font-weight: bolder;
                color: #000000;
                padding-top: 25px;
                padding-bottom: 70px;
            }
    .ir-arriba{
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 20px;
        font-size: 20px;
        background-color: black;
        color: #fff;
        cursor: pointer;
                
    } 

    //bloque service

    .service{
       
    }
   

    .service-sudhead{
        font-family: "montserrat-bold", sans-serif;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .25rem;
        color: #39b54a;
        text-align: center;
        padding-top: 112px;
        padding-bottom: 12px;
        @media (min-width: 400px) {
            
        }    
    }
    .service-title{
        font-family: "montserrat-medium", sans-serif;
        font-size: 28px;
        line-height: 1.255;
        color: #000000;
        text-align: center;
        width: 85%;
        margin: auto;
        padding-bottom: 80px;
        &:after{
            content: "";
            width: 250px;
            height: 1px;
            position: absolute;
            left: calc(50% - 125px);
            margin-top: 50px;
            background-color: #e6e6e6;
        }
        @media (min-width: 400px) {
            font-size: 52px;
            &:after{
                width: 300px;
                left: calc(50% - 150px);
                margin-top: 100px;
            }
        }  
        @media (min-width: 600px) {
            font-size: 52px;
            &:after{
                width: 550px;
                left: calc(50% - 275px);
                margin-top: 100px;
            }
        }  
        @media (min-width: 1200px) {
            width: 920px;
            margin:  auto;
            &:after{
                content: "";
                width: 700px;
                height: 1px;
                position: absolute;
                left: calc(50% - 350px);
                margin-top: 100px;
                background-color: #e6e6e6;
            }
        }    
  
    }
    .service-list{
        padding-top: 22px;
        padding-bottom: 130px;
        width: 85%;
        margin: 0 auto;
        @media (min-width: 800px) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 600px;
            margin: 0 auto;
        }  
        @media (min-width: 900px) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 700px;
            margin: 0 auto;
        }  
        @media (min-width: 1200px) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 1100px;
            margin: 0 auto;
            padding-bottom: 100px;
        }    

    }
        .service-item{
            padding-bottom: 20px;
            @media (min-width: 800px) {
                width: 255px;
                padding-bottom: 20px;
                
            }  
            @media (min-width: 1200px) {
                width: 435px;
                padding-bottom: 20px;
            }    
    
        }
            .service-title2{
                font-family: "montserrat-medium", sans-serif;
                font-size: 24px;
                color: #000000;
                text-align: center;
                padding-bottom: 18px;
                @media (min-width: 600px) {
                    font-size: 28px;
                }
                @media (min-width: 1200px) {
                    text-align: left;
                }    
            }
            .service-text{
                font-family: "lora-regular", serif;
                font-size: 19px;
                line-height: 1.765;
                color: #757575;
                text-align: center;
                padding-bottom: 20px;
                @media (min-width: 400px) {
                    font-size: 20px;
                } 
                @media (min-width: 800px) {
                   width: 255px;
                   text-align: left;
                }
                @media (min-width: 900px) {
                    width: 340px;
                   
                }  
                @media (min-width: 1200px) {
                    width: 435px;
                    text-align: left;
                }    
            }

    
    //bloque clients

    .testimonial{
        background-color: #e6e6e6;
    }

    .testimonial-sunhead{
        font-family: "montserrat-bold", sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: .25rem;
        color: #39b54a;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 12px;
    }

    .testimonial-title{
        font-family: "montserrat-medium", sans-serif;
        font-size: 24px;
        line-height: 1.255;
        color: #000000;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        @media (min-width: 500px) {
            font-size: 36px;
            width: 70%; 
        }  
        @media (min-width: 1200px) {
            font-size: 52px;
            width: 920px; 
        }      
    }




    .wrapper{
        width: 100%;
        margin-top: 100px;
        margin-bottom: 100px;
        background: #e6e6e6;
        padding: 30px 0;
    }
    
    .slider-testimonial{

        @media (min-width: 1200px) {
            width: 95%;
            max-width: 1200px;
            margin: 0 auto;
        }       
    }
    
    .testimonial-client{
        margin-bottom: 15px;
    }
    
    .testimonial-client img{
        width: 84px;
        margin:auto;
        border-radius: 84px;
    }
    
    .testimonial-name{
        font-family: "Open sans";
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }
    
    .testimonial-text{
        padding: 10px 120px;
        @media (min-width: 1200px) {
            font-size: 33px;
            line-height: 1.8;
            width: 860px;
            margin: 0 auto;
        }
    }
    .testimonial-text p{
        font-family: "lora-regular", serif;
        color: #555555;
        text-align: center;
       
        @media (min-width: 399px) {
            font-size: 20px;
            line-height: 1.6;
            width: 100%;
            margin: auto;
        }
        @media (min-width: 500px) {
            
        }
        @media (min-width: 1200px) {
            font-size: 33px;
            line-height: 1.8;
        }
    }

//Bloque contact

.contact{
    background: url('../img/contact-bg.jpg?s=988888') no-repeat center 0;
}
    .contact-sudhead{
        font-family: "montserrat-bold", sans-serif;
        font-size: 15px;
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: .25rem;
        color: #39b54a;
        padding-top: 120px;
        text-align: center;
        @media (min-width: 600px) {
            font-size: 17px;
        }
    }
    .contact-title{
        font-family:  "montserrat-medium", sans-serif;
        font-size: 24px;
        font-weight: bolder;
        line-height: 1.333;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 70px;
        text-align: center;
        @media (min-width: 600px) {
            font-size: 36px;
            width: 440px;
            margin: auto;
        }
    }
    .contact-cont-title{
        font-family:  "montserrat-medium", sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: .25rem;
        color: #fff;
        text-align: center;
        padding-bottom: 110px;
    }
    .contact-cont-form{
        text-align: center;
    }
        .contact-cont-formInput{
            background: none;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom:1px #555555 solid; 
            display: block;
            margin-bottom: 1em;
            padding: 1.2em;
            margin: 0 auto 1em;
            width: 75%;
        }
    .contact-cont-textarea{
        background: none;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom:1px #555555 solid; 
            display: block;
            margin-bottom: 1em;
            padding: 1.2em;
            margin: 0 auto 1em;
            width: 75%;
    }  
    .contact-cont-buttom{
        font-family: "lora-regular", serif;
        font-size: 14px;
        background: #39b54a;
        color: #FFF;
        border: none;
        display: block;
        margin: 40px auto ;
        padding: 1.5em;
        width: 75%;
        text-transform: uppercase;
    }
.contact-cont2{
    padding-top: 60px;
    padding-bottom: 100px;
}  
    .contact-cont2-sudhead{
        font-family: "lora-regular", serif;
        font-size: 19px;
        font-weight: bolder;
        color: #39b54a;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .contact-cont2-list{
        text-align: center;
    }
        .contact-cont2-link{
            text-decoration: none;
            font-family: "lora-regular", serif;
            font-weight: 100;
            font-size: 18px;
            color: #757575;
            line-height: 40px;
        }