
@font-face { 
    font-family: 'montserrat-medium'; 
    src:  url('../font/montserrat-medium-webfont.woff');
    font-weight: 300;
  }
@font-face { 
    font-family: 'montserrat-thin'; 
    src:  url('../font/montserrat-thin-webfont.woff');
    font-weight: 100;
  } 
   

html{
    box-sizing: border-box;
}

.contenedor{
    width: 100%; height: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url('../img/hero-bg.jpg?s=988888') no-repeat center 0;
    background-size: cover;
}

//bloque header
.header{
    padding-top: 1.875rem;
    padding-bottom: 5.625rem;
    display: flex;
    justify-content: space-between;
    @media (min-width: 62.5rem) {
        padding-bottom: 1.25rem;
    } 
    .header-logo-img1{
        text-align: left;
        max-width: 4.375rem;
        height: auto;
        padding-left: 1.875rem;
    }
    .header-button{
        padding-right: 2.5rem;
    
        .header-button-style{
            border: none;
            background-color: #010f18;
            color: white;
        }
    }    

    /*posicion responsive menu*/
    
    #mostrar-menu{
        position: fixed;
        top: 1.8em;
        right: 2em;
        background: url(../img/iconomenu.png);
        z-index: 30;
        cursor: pointer;
        padding: 1rem;
        background-color: black;
    }

    .menu{
        background: #0C0C0C;
        padding-right: .25em;
        padding-top: 3em;
        position: fixed;
        right: -19em;
        z-index: 20;
        height: 100%;
        top: 0;
        transition: all .3s;
    }
    .menu.mostrar{
        right: 0;
    } 
        .menu-list{
            line-height: 2.625rem;
           /* outline: 1px solid red;*/
            margin: 2em auto;
            width: 18em;
        
            .menu-item{
                box-shadow: 0.1875rem 0 rgba(255, 255, 255, .2) inset;
                margin-bottom: 0.3125rem;
                padding-left: 1.5em;
                /* outline: 1px solid red;*/
                -webkit-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
                &:hover{
                    box-shadow: 17em 0 rgba(255, 255, 255, .2) inset;
                }
                .menu-link{
                    color: #eee;
                    display: block;
                    width: 100%;
                    text-decoration: none;
                    text-transform: uppercase;
                    &:hover{
                    margin-left: 1em;
                    -webkit-transition: all .5s;
                        -o-transition: all .5s;
                        transition: all .5s;
                    }
                }
            }    
        }        
}        
        
//bloque min
.min{
    width: 78%;
    margin: 0 auto;
    text-align: center;
    @media (min-width: 31.25rem) {
        width: 58%;
        margin: 5%;
        text-align: left;
      }
    @media (min-width: 43.75rem) {
        margin: 10%;
    } 
    
    @media (min-width: 75rem) {
        width: 46.875rem;
        margin-left: 8.75rem;
    } 
    @media (min-width: 93.75rem) {
        width: 46.875rem;
        margin-left: 18.75rem;
    }                   
    .min-titulo{
        font-family: "montserrat-medium", sans-serif;
        font-size: 0.875rem;
        color: rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding-bottom: 1.25rem;
        @media (min-width: 31.25rem) {
            font-size: 1rem;
        }  
    }
    .min-explicacion{
        font-family: "montserrat-medium", sans-serif;
        font-size: 1.75rem;
        color: #fff;
        line-height: 2.5rem;
        @media (min-width: 31.25rem) {
            font-size: 2rem; 
            line-height: 2.8125rem; 
        }
        @media (min-width: 43.75rem) {
            font-size: 2.625rem; 
            line-height: 3.75rem;
        } 
        @media (min-width: 62.5rem) {
            font-size: 3.25rem; 
            line-height: 4.375rem;
        }   
        @media (min-width: 75rem) {
            font-size: 3.875rem; 
            line-height:  5.625rem;
        }       
        
    }
    .min-list{
        padding-top: 1.25rem;
        padding-bottom: 1.625rem;
        @media (min-width: 43.75rem) {
            display: flex;  
        }      
        .min-item{
            border: 0.10625rem #ffffff solid; 
            padding-top: 1rem;
            padding-bottom: 1rem;
            width: 78%;
            margin: 1.25rem auto;
            text-align: center; 
            &:hover{
               .min-link{
                color:black;
                }
            }    
            &:hover{
                background-color: #fff;
                transition: .5s;
            }
            @media (min-width: 31.25rem) {
                width: 18.125rem;
                margin: 1.25rem 0; 
            }
            @media (min-width: 43.75rem) {
                width: 11.25rem;
                margin-top: 4.375rem;
                margin-right: 1.25rem; 
            }   
            .min-link{
                font-family: sans-serif;
                font-size: 0.75rem;
                color: #fff;
                text-transform: uppercase;
                text-decoration: none;
                text-align: center;
                &:hover{
                    color: black;
                    transition: .5s;
                }  
            }
        }    
    }     
}              


//bloque redsocial
.redsocial{
    display: none;
    @media (min-width: 31.25rem) {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top:  13.75rem;
        right: 1.25rem; 
    }
    @media (min-width: 43.75rem) {
        top: 16.875rem;  
    }  
    @media (min-width: 62.5rem) {
        top: 21.25rem;  
    }    

    .redsocial-item{
        padding-bottom: 1rem;
        .redsocial-img{
            width: 2.0625rem;
            height: 2.0625rem;
            &:hover{
                filter: opacity(.5);
            }
        } 
    }    
} 

//bloque contenedortwo
.contenedortwo{
    background-color: #39b54a;
    text-align: center;
}
    .contenedortwo-saludo{
        font-family: "montserrat-medium", sans-serif;
        font-size: 0.875rem;
        color: black;
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding-top: 6.875rem;
        padding-bottom: 0.625rem;
        @media (min-width: 25rem) {
            font-size: 1rem; 
        }
        @media (min-width: 50rem) {
            font-size: 1.125rem; 
            font-weight: bolder;
        }
        
    }
    .contenedortwo-glint{
        font-family: "montserrat-medium", sans-serif;
        font-size: 2.5rem;
        color: #fff;
        padding-bottom: 3.125rem;
        position: relative;
            &:after{
                content: "";
                width: 16.875rem;
                height: 0.0625rem;
                position: absolute;
                left: calc(50% - 8.4375rem);
                bottom: 0.625rem;  
                background-color: #FFF;
            }
        @media (min-width: 25rem) {
            font-size: 3.125rem; 
            &:after{
                content: "";
                width:  21.875rem;
                left: calc(50% - 10.9375rem);
            }
        }
        @media (min-width: 50rem) {
            font-size: 4.375rem; 
            &:after{
                content: "";
                width: 33.125rem;
                left: calc(50% - 16.5625rem);
            }    
        }
        @media (min-width: 75rem) {
             font-size: 4.875rem;
        }
    }
    .contenedortwo-parrafo{
        font-family: "lora-regular", serif;
        font-weight: 25rem;
        font-size: 1.1875rem;
        line-height: 2.5rem;
        color: black;
        width: 70%;
        margin: 0 auto;
        padding-top: 1.875rem;
        padding-bottom: 3.125rem;
        @media (min-width: 50rem) {
            font-size: 1.375rem;
            width: 80%;
           
        }
        @media (min-width: 75rem) {
            font-size: 1.5625rem; 
            line-height: 2.5rem;
            width: 52.5rem;
            padding-bottom: 5.625rem;
        }
    }
    
    .contenedortwo-list{
        padding-bottom: 3.125rem;
        @media (min-width: 37.5rem) {
            width: 25rem;
            margin: 0 auto; 
        }
        @media (min-width: 50rem) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 30rem;
            margin: 0 auto;
           
        }
        @media (min-width: 75rem) {
               display: flex;
               justify-content: space-between;
               width: 48.75rem;
               margin: 0 auto;  
        }
    }
        .contenedortwo-item{
            position: relative;
            &:after{
                content: "";
                width: 16.875rem;
                height: 0.0625rem;
                position: absolute;
                left: calc(50% - 8.4375rem);
                bottom: 1.875rem;  
                background-color: #FFF;
            }
            &:last-child:after{
                display: none;
            }

            @media (min-width: 50rem) {
                &:after{
                   display: none;
                }   
            }    
        }
            .contenedortwo-link{
                font-family: "montserrat-bold", sans-serif;
                font-size: 4.375rem;
                font-weight: bolder;
                color: #FFFFFF;
                text-decoration: none;
                @media (min-width: 50rem) {
                    font-size: 5rem;
                }
            }
            .contenedortwo-paragraph{
                font-family: "montserrat-semibold", sans-serif;
                font-size: 1.125rem;
                font-weight: bolder;
                color: #000000;
                padding-top: 1.5625rem;
                padding-bottom: 4.375rem;
            }
    .ir-arriba{
        display: none;
        position: fixed;
        bottom: 1.25rem;
        right: 1.25rem;
        padding: 1.25rem;
        font-size: 1.25rem;
        background-color: black;
        color: #fff;
        cursor: pointer;
        z-index: 30;
                
    } 

//bloque service

.service-sudhead{
    font-family: "montserrat-bold", sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: #39b54a;
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 0.75rem;
}
.service-title{
    font-family: "montserrat-medium", sans-serif;
    font-size: 1.75rem;
    line-height: 1.255;
    color: #000000;
    text-align: center;
    width: 85%;
    margin: auto;
    padding-bottom: 5rem;
    &:after{
        content: "";
        width: 15.625rem;
        height: 0.0625rem;
        position: absolute;
        left: calc(50% - 7.8125rem);
        margin-top: 3.125rem;
        background-color: #e6e6e6;
    }
    @media (min-width: 25rem) {
        font-size: 3.25rem;
        &:after{
            width: 18.75rem;
            left: calc(50% - 9.375rem);
            margin-top: 6.25rem;
        }
    }  
    @media (min-width: 37.5rem) {
        font-size: 3.25rem;
        &:after{
            width: 34.375rem;
            left: calc(50% - 17.1875rem);
            margin-top: 6.25rem;
        }
    }  
    @media (min-width: 75rem) {
        width: 57.5rem;
        margin:  auto;
        &:after{
            content: "";
            width: 43.75rem;
            height: 0.0625rem;
            position: absolute;
            left: calc(50% - 21.875rem);
            margin-top:  6.25rem;
            background-color: #e6e6e6;
        }
    }    
}
.service-list{
    padding-top: 1.375rem;
    padding-bottom: 8.125rem;
    width: 85%;
    margin: 0 auto;
    @media (min-width: 50rem) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 37.5rem;
        margin: 0 auto;
    }  
    @media (min-width: 56.25rem) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 43.75rem;
        margin: 0 auto;
    }  
    @media (min-width: 75rem) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 68.75rem;
        margin: 0 auto;
        padding-bottom: 6.25rem;
    }    

    .service-item{
        padding-bottom:  1.25rem;
        @media (min-width: 50rem) {
            width: 15.9375rem;
            padding-bottom: 1.25rem;
                
        }  
        @media (min-width: 75rem) {
            width: 27.1875rem;
            padding-bottom: 1.25rem;
        }    
    
        
        .service-title2{
            font-family: "montserrat-medium", sans-serif;
            font-size: 1.5rem;
            color: #000000;
            text-align: center;
            padding-bottom: 1.125rem;
            @media (min-width: 37.5rem) {
                font-size: 1.75rem;
            }
            @media (min-width: 75rem) {
                text-align: left;
            }    
        }
        .service-text{
            font-family: "lora-regular", serif;
            font-size: 1.1875rem;
            line-height: 1.765;
            color: #757575;
            text-align: center;
            padding-bottom: 1.25rem;
            @media (min-width: 25rem) {
                font-size: 1.25rem;
            } 
            @media (min-width: 50rem) {
                width: 15.9375rem;
                text-align: left;
            }
            @media (min-width: 56.25rem) {
                width: 21.25rem;
                   
            }  
            @media (min-width: 75rem) {
                width: 27.1875rem;
                text-align: left;
            }    
        }
    }    
}        

    
    //bloque clients

    .testimonial{
        background-color: #e6e6e6;
    }

    .testimonial-sunhead{
        font-family: "montserrat-bold", sans-serif;
        font-size: 0.875rem;
        text-transform: uppercase;
        letter-spacing: .25rem;
        color: #39b54a;
        text-align: center;
        padding-top: 6.25rem;
        padding-bottom: 0.75rem;
    }

    .testimonial-title{
        font-family: "montserrat-medium", sans-serif;
        font-size: 1.5rem;
        line-height: 1.255;
        color: #000000;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        @media (min-width: 31.25rem) {
            font-size: 2.25rem;
            width: 70%; 
        }  
        @media (min-width:  75rem) {
            font-size: 3.25rem;
            width:  57.5rem; 
        }      
    }
    .wrapper{
        width: 100%;
        margin-top: 6.25rem;
        background: #e6e6e6;
        padding: 0;
    }
    .slider-testimonial{
        padding-bottom: 6.25rem;
           
        @media (min-width: 75rem) {
            width: 95%;
            max-width: 75rem;
            margin: 0 auto;
        }       
    }
    .testimonial-client{
        margin-bottom: 0.9375rem;
    }
    .testimonial-client img{
        width: 5.25rem;
        margin:auto;
        border-radius: 5.25rem;
    }
    .testimonial-name{
        font-family: "Open sans";
        font-size: 1.25rem;
        font-weight: 37.5rem;
        text-align: center;
    }
    .testimonial-text{
        padding: 0.625rem 3.75rem;
        @media (min-width: 37.5rem) {
            padding: 0.625rem 6.25rem;
        }
        @media (min-width: 50rem) {
            padding: 0.625rem 6.875rem;
        }
        @media (min-width: 75rem) {
            padding: 0.625rem 7.5rem;
        }
    }
    .testimonial-text p{
        font-family: "lora-regular", serif;
        color: #555555;
        text-align: center;
        font-size: 1.25rem;
        line-height: 1.4;
        @media (min-width:  31.25rem) {
            font-size: 1.5rem;
            line-height: 1.8;
        }
        @media (min-width: 50rem) {
            font-size: 1.625rem;
            line-height: 1.8;
        }
        @media (min-width: 75rem) {
            font-size: 2.0625rem;
            line-height: 1.8;
        }
    }

//Bloque contact

.contact{
    background:  linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ), url('../img/contact-bg.jpg?s=988888') no-repeat center 0;
    height: 93.75rem; 
    @media (min-width: 37.5rem) {
        height: 103.125rem; 
    } 
    @media (min-width: 62.5rem) {
        height:  68.75rem;
     }
    

    .contact-sudhead{
        font-family: "montserrat-bold", sans-serif;
        font-size: 0.9375rem;
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: .25rem;
        color: #39b54a;
        padding-top: 7.5rem;
        text-align: center;
        @media (min-width: 37.5rem) {
            font-size: 1.0625rem;
        }
    }
    .contact-title{
        font-family:  "montserrat-medium", sans-serif;
        font-size: 1.5rem;
        font-weight: bolder;
        line-height: 1.333;
        color: #fff;
        padding-top: 0.625rem;
        padding-bottom: 3.4375rem;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        @media (min-width: 37.5rem) {
            font-size: 2.25rem;
            width: 65%;
            margin: auto;
        }
        @media (min-width: 75rem) {
            font-size: 2.875rem;
            width: 40%;
         }
    }
    .contact-container{
        opacity: .9;
        background-color: #151515;

        @media (min-width: 37.5rem) {
            width: 32.8125rem;
            margin: 0 auto;
            opacity: .9;
            background-color: #151515;
        }
        @media (min-width: 62.5rem) {
           display: flex;
           justify-content: space-between;
           width: 56.25rem;
        }
        .contact-cont{
            @media (min-width: 62.5rem) {
                margin-left: 1.5625rem;
                height:  38.75rem;
            }
            .contact-cont-title{
                font-family:  "montserrat-medium", sans-serif;
                font-size: 0.875rem;
                text-transform: uppercase;
                letter-spacing: .25rem;
                color: #fff;
                text-align: center;
                padding-top: 3.75rem;
                padding-bottom: 3.75rem;
                @media (min-width: 62.5rem) {
                    text-align: left;
                    margin-left: 1.5625rem;
                }
            }
            .contact-cont-form{
                text-align: center;
              
                .contact-cont-formInput{
                    background: none;
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    border-bottom: 0.0625rem #555555 solid; 
                    display: block;
                    margin-bottom: 1em;
                    padding: 1.2em;
                    margin: 0 auto 1em;
                    width: 75%;
                    @media (min-width:  37.5rem) {
                        width: 65%;
                    }
                    @media (min-width: 62.5rem) {
                        width: 30.3125rem;
                    }
                }
                .contact-cont-textarea{
                    background: none;
                        border-top: none;
                        border-right: none;
                        border-left: none;
                        border-bottom:1px #555555 solid; 
                        display: block;
                        margin-bottom: 1em;
                        padding: 1.2em;
                        margin: 0 auto 1em;
                        width: 75%;
                        @media (min-width: 37.5rem) {
                            width: 65%;
                        }
                        @media (min-width: 62.5rem) {
                            width: 30.3125rem;
                        }
                }  
                .contact-cont-buttom{
                    font-family: "lora-regular", serif;
                    font-size: 0.875rem;
                    background: #39b54a;
                    color: #FFF;
                    border: none;
                    display: block;
                    margin: 2.5rem auto ;
                    padding: 1.5em;
                    width: 75%;
                    text-transform: uppercase;
                    @media (min-width: 37.5rem) {
                        width: 65%;
                    }
                    @media (min-width: 62.5rem) {
                        width: 32.25rem;
                        margin: 7.9375rem516 auto ;
                    }
                }
            }    
        }      
        .contact-cont2{
            padding-top: 3.75rem;
            padding-bottom: 6.25rem;
            @media (min-width: 62.5rem) {
            background-color: #111111; 
            padding-top: 1.25rem;
            padding-bottom: 0px;
            width: 19.6875rem;
            }
          
            .contact-cont2-sudhead{
                font-family: "lora-regular", serif;
                font-size: 1.1875rem;
                font-weight: bolder;
                color: #39b54a;
                text-align: center;
                padding-top: 2.5rem;
                padding-bottom: 1.25rem;
                @media (min-width: 62.5rem) {
                text-align: left; 
                margin-left: 3.125rem;
                }
            }
            .contact-cont2-list{
                text-align: center;
                @media (min-width: 62.5rem) {
                    text-align: left; 
                    margin-left: 3.125rem;
                }
            
                .contact-cont2-link{
                    text-decoration: none;
                    font-family: "lora-regular", serif;
                    font-weight: 100;
                    font-size: 1.125rem;
                    color: #757575;
                    line-height: 2.5rem;
                }
            }    
        }
    }    
}
//Bloque footer

footer{
    background-color: #111111;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    .pie{
        font-family: "lora-regular", serif;
        font-size: 1.125rem;
        color: #757575;
        text-align: center;
        width: 10.625rem;
        margin: 0 auto;
    }
}